form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    color: #3f3f3f;

    label {
        font-weight: bold;
    }

    input {
        padding: 8px;
        font-size: 14px;
        border-radius: 0px;
        border: 0px;
        border-bottom: 2px solid #a5a5a5;
        background-color: rgb(250, 250, 250);

        &:focus {
            border: 0px;
            outline: 0px;
            border-bottom: 2px solid #007bff;
        }
    }
    
    button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: #0056b3;
        }
    }
}

.registro-link {
    text-align: center;
    margin-top: 15px;

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
  }
}
