body {
    background-color: rgb(250, 250, 250);
    padding: 25px 50px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3f3f3f;
}

input {
    padding: 0px 3px;
    margin: 5px;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

li button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease;
}

li button:hover:not(:disabled) {
  background-color: #0056b3;
}

li button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
  }
