body {
    background-color: rgb(250, 250, 250);
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #3f3f3f;
}

ul {
    list-style: none;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
    padding: 15px;

    button {
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        padding: 5px;
        margin: 3px 0px;
        color: white;

        &:hover {
            background-color: #0056b3;
        }
    }
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}